{% extends "base_view_settings.html" %}

{% block title %}

Crear Proyecto de Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes registrar un nuevo Proyecto en el sistema.</h3>

{% endblock %}

{% block main_container %}

<div class="create_main_container">
    <div class="create_container">
        <form method="post">
            {% csrf_token %}
            <div class="state_container">
                <label class="state_label">Estado:</label>
                <div class="state_select">
                    <select name="state">
                        <option value="draft">Borrador</option>
                        <option value="in_progress">En Progreso</option>
                        <option value="closed">Cerrado</option>
                    </select>
                </div>
            </div>
            <div class="form_row">
                <div class="input_data">
                    <input name="title" type="text" required>
                    <div class="underline"></div>
                    <label for="">Titulo</label>
                </div>
            </div>
            <div class="form-row">
                <div class="project_description_container">
                    <label for="">Descripcion del proyecto.</label><br />
                    <textarea class="text_area_description" name="description" rows="8" required></textarea>
                </div>
            </div>
            <div>{{field.errors}}</div>
            <div class="form_row">
                <div class="form_row submit-btn">
                    <div class="input_data">
                        <input type="submit" value="Guardar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
