{% extends "base_view_settings.html" %}

{% block title %}

Editar Proyecto EPIST KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes modificar algunos datos de {{ project.title }}.</h3>

{% endblock %}

{% block main_container %}

    <div class="card card-body">
        <form method="post">
            {% csrf_token %}
            <section class="my-4 d-lg-inline-flex align-items-center w-100">
                <label class="me-2 form-check-label fw-bold" for="title">Titulo:</label>
                <input class="form-control" type="text" id="title" name="title" value="{{ project.title }}" required/>
                <label class="m-2 form-check-label fw-bold" for="state">Estado:</label>
                <select class="form-select" name="state" id="state">
                    {% if project.state == 'draft' %}
                        <option value="draft" selected>Borrador</option>
                    {% else %}
                        <option value="draft">Borrador</option>
                    {% endif %}
                    {% if project.state == 'in_progress' %}
                        <option value="in_progress" selected>En Progreso</option>
                    {% else %}
                        <option value="in_progress">En Progreso</option>
                    {% endif %}
                    {% if project.state == 'closed' %}
                        <option value="closed" selected>Cerrado</option>
                    {% else %}
                        <option value="closed">Cerrado</option>
                    {% endif %}
                </select>
            </section>
            <div class="my-4">
                <label class="me-2 form-check-label fw-bold" for="description">Descripción del proyecto.</label>
                <textarea name="description" id="description" class="form-control" required>{{ project.description }}</textarea>
            </div>
            <div class="d-flex justify-content-center">
                <input class="my-2 me-2 btn btn-dark btn-sm align-items-center justify-content-center" type="submit" value="Guardar">
                <a class="my-2 btn btn-dark btn-sm align-items-center justify-content-center" href="{% url 'project_details' project.id %}">Cancelar</a>
            </div>
        </form>
    </div>

{% endblock %}
