{% extends "base_view.html" %}
{% load static %}
{% block title %}

{{ discussion.title }} - EPIST KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes ver la información de la discusión {{ discussion.title }} registrada en el sistema.</h3>

{% endblock %}

{% block main_container %}

    <div class="card card-body">

        {% if exception %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Se encontraron errores: {{ exception }} </strong>
            </div>
        {% endif %}

        <div class="d-flex justify-content-center">
            {% if user.id == discussion.created_by.id %}
                <a class="btn btn-dark text-white btn-sm align-items-center justify-content-center" href="{% url 'discussion_edit' discussion.id %}">
                    <img width="40" height="32" src="{% static 'Icons/edit_icon.svg' %}" alt="Editar Discusión">
                    <span class="ms-1 fs-5 text-white me-3 align-middle">Editar</span>
                </a>
                <a class="btn btn-dark text-white btn-sm align-items-center mx-3 justify-content-center" href="{% url 'discussion_delete' discussion.id %}">
                    <img width="40" height="32" src="{% static 'Icons/delete_icon.svg' %}" alt="Eliminar Discusión">
                    <span class="ms-1 fs-5 text-white me-3 align-middle">Eliminar</span>
                </a>
                <a class="btn btn-dark text-white btn-sm align-items-center me-3 justify-content-center" href="{% url 'create_knowledge' discussion.id %}">
                    <img width="40" height="32" src="{% static 'Icons/knowledge_icon.svg' %}" alt="Crear Conocimiento">
                    <span class="ms-1 fs-5 text-white me-3 align-middle">Crear Conocimiento</span>
                </a>
            {% endif %}
            <a class="btn btn-dark text-white btn-sm align-items-center justify-content-center" href="{% url 'discussions_list' %}" >
                <img width="40" height="32" src="{% static 'Icons/back_icon.svg' %}" alt="Volver">
                <span class="ms-1 fs-5 text-white me-3 align-middle">Volver</span>
            </a>
        </div>
        <form method="get">
            {% csrf_token %}
            <section class="my-4 d-flex justify-content-md-end">
                <label class="me-2 form-check-label fw-bold" for="state">Estado:</label>
                <input class="btn btn-dark text-white" type="text" id="state" name="state" value="{{ discussion.get_state_display }}" readonly/>
            </section>
            <section class="my-4">
                <label class="me-2 form-check-label fw-bold" for="title">Titulo:</label>
                <input class="form-control" type="text" id="title" name="title" value="{{ discussion.title }}" readonly/>
            </section>
            <section class="my-4">
                <label class="me-2 form-check-label fw-bold" for="project_id">Proyecto:</label>
                <input class="form-control" type="text" id="project_id" name="project_id" value="{{ discussion.project_id }}" readonly/>
            </section>
            <div class="my-4">
                <label class="me-2 form-check-label fw-bold" for="description">Descripción:</label>
                <textarea name="description" id="description" class="form-control" readonly>{{ discussion.description }}</textarea>
            </div>
            <div class="card card-body">
                <a class="btn btn-dark text-white m-3 btn-sm align-items-center justify-content-center" href="{% url 'message_create' discussion.id %}">
                    Escribir nuevo mensaje
                </a>
                <table class="table w-100 table-hover">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th class="w-50">Mensaje</th>
                            <th class="w-25">Autor</th>
                            <th class="w-25">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in messages %}
                            <tr>
                                <td>
                                    <a class="mx-3 text-decoration-none text-black" href="{% url 'message_details' message.id %}">
                                        {{ message.title }}
                                    </a>
                                </td>
                                <td>
                                    <a class="mx-3 text-decoration-none text-black" href="{% url 'message_details' message.id %}">
                                        {{ message.created_by }}
                                    </a>
                                </td>
                                <td class="text-center">
                                    <div class="d-flex align-content-between justify-content-center">
                                        {% if user.id == message.created_by.id %}
                                            <a class="mx-3 text-decoration-none text-black" href="{% url 'message_edit' message.id %}">
                                                <img width="40" height="32" src="{% static 'Icons/edit_icon_list.svg' %}" alt="Editar Mensaje">
                                                <span class="ms-1 fs-5 me-3 align-middle">Editar</span>
                                            </a>
                                            <a class="mx-3 text-decoration-none text-black" href="{% url 'message_delete' message.id %}">
                                                <img width="40" height="32" src="{% static 'Icons/delete_list_icon.svg' %}" alt="Eliminar Mensaje">
                                                <span class="ms-1 fs-5 me-3 align-middle">Eliminar</span>
                                            </a>
                                        {% elif not message.mark_relevant %}
                                            <a class="mx-3 text-decoration-none text-black" href="{% url 'relevant_message' message.id %}">
                                                <img width="40" height="32" src="{% static 'Icons/like_icon_list.svg' %}" alt="Mensaje Relevante">
                                                <span class="ms-1 fs-5 me-3 align-middle">Marcar como Relevante</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card card-body">
                <section class="my-4">
                    <label class="me-2 form-check-label fw-bold" for="created_by">Creado por:</label>
                    <input class="form-control w-auto" type="text" id="created_by" name="created_by" value="{{ discussion.created_by }}" readonly/>
                </section>
                <section class="my-4">
                    <label class="me-2 form-check-label fw-bold" for="creation_date">Creado en:</label>
                    <input class="form-control w-auto" type="text" id="creation_date" name="creation_date" value="{{ discussion.creation_date }}" readonly/>
                </section>
            </div>
        </form>
    </div>
</div>

{% endblock %}
