{% extends "base_view.html" %}
{% load static %}
{% block title %}

Editar {{ forum.title }} - Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes modificar algunos datos del foro {{ forum.title }}.</h3>

{% endblock %}

{% block main_container %}

<div class="create_knowledge_container">
    <div class="knowledge_header_create">
        <form method="post">
            {% csrf_token %}
            <div class="knowledge_basic_data">
                <div class="title_container">
                    <label for="">Titulo: </label>
                    <input name="title" type="text" value="{{ forum.title }}" required>
                </div>
                <div>{{fields.title.errors}}</div>
                <div class="project_container">
                    <label for="">Proyecto: </label>
                    <select name="project_id" id="project_id" onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();' required>
                        {% for project in projects %}
                            {% if project.id == forum.project_id.id %}
                                <option value="{{ project.id }}" selected>{{ project.title }}</option>
                            {% else %}
                                <option value="{{ project.id }}">{{ project.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="knowledge_description_container">
                <label for="">Descripción: </label><br />
                <textarea class="text_area_description" name="description" rows="3" required>{{ forum.description }}</textarea>
            </div>
            <div class="pagination_container">
                <div class="pagination">
                    <div class="input_data">
                        <input type="submit" value="Guardar">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="knowledge_steps_details_edit">
        {% for discussion in discussions %}
            <div class="knowledge_step">
                <a href="{% url 'discussion_details' discussion.id %}">{{ discussion.title }}</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
