{% extends "base_view.html" %}
{% load static %}
{% block title %}

Editar {{ forum.title }} EPIST KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes modificar algunos datos del foro {{ forum.title }}.</h3>

{% endblock %}

{% block main_container %}

    <div class="card card-body">

        {% if exception %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Se encontraron errores: {{ exception }} </strong>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <section class="my-4 d-lg-inline-flex align-items-center w-100">
                <label class="me-2 form-check-label fw-bold" for="title">Titulo:</label>
                <input class="form-control" type="text" id="title" name="title" value='{{ forum.title }}' required/>
                <label class="m-2 form-check-label fw-bold" for="project_id">Proyecto: </label>
                <select class="form-select" name="project_id" id="project_id" required>
                    {% for project in projects %}
                        {% if project.id == forum.project_id.id %}
                            <option value="{{ project.id }}" selected>{{ project.title }}</option>
                        {% else %}
                            <option value="{{ project.id }}">{{ project.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </section>
            <div class="my-4">
                <label class="me-2 form-check-label fw-bold" for="description">Descripción:</label>
                <textarea name="description" id="description" class="form-control" required>{{ forum.description }}</textarea>
            </div>
            <div class="d-flex justify-content-center">
                <input class="my-2 me-2 btn btn-dark text-white btn-sm align-items-center justify-content-center" type="submit" value="Guardar">
                <a class="my-2 btn btn-dark text-white btn-sm align-items-center justify-content-center" href="{% url 'forum_details' forum.id %}">Cancelar</a>
            </div>
        </form>
    </div>
    <div class="card card-body">
        <table class="table w-100 table-hover">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Discusiones</th>
                </tr>
            </thead>
            <tbody>
                {% for discussion in steps %}
                <tr>
                    <td>
                        <a class="mx-3 text-decoration-none text-black" href="{% url 'discussion_details' discussion.id %}">
                            {{ discussion.title }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
