{% extends "base_view.html" %}
{% load static %}
{% block title %}

{{ message.title }} - EPIST KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes ver la información del mensaje {{ message.title }} en la discusión {{ message.discussion_id.title }}.</h3>

{% endblock %}

{% block main_container %}

    <div class="card card-body">

        <div class="d-flex justify-content-center">
            {% if user.id == message.created_by.id %}
                <a class="btn btn-dark btn-sm align-items-center justify-content-center" href="{% url 'message_edit' message.id %}">
                    <img width="40" height="32" src="{% static 'Icons/edit_icon.svg' %}" alt="Editar Mensaje">
                    <span class="ms-1 fs-5 text-white me-3 align-middle">Editar</span>
                </a>
                <a class="btn btn-dark btn-sm align-items-center mx-3 justify-content-center" href="{% url 'message_delete' message.id %}">
                    <img width="40" height="32" src="{% static 'Icons/delete_icon.svg' %}" alt="Eliminar Mensaje">
                    <span class="ms-1 fs-5 text-white me-3 align-middle">Eliminar</span>
                </a>
            {% elif not message.mark_relevant %}
                <a class="btn btn-dark btn-sm align-items-center mx-3 justify-content-center" href="{% url 'relevant_message' message.id %}">
                    <img width="40" height="32" src="{% static 'Icons/like_icon.svg' %}" alt="Mensaje Relevante">
                    <span class="ms-1 fs-5 text-white me-3 align-middle">Marcar como Relevante</span>
                </a>
            {% endif %}
            <a class="btn btn-dark btn-sm align-items-center justify-content-center" href="{% url 'discussion_details' message.discussion_id.id  %}" >
                <img width="40" height="32" src="{% static 'Icons/back_icon.svg' %}" alt="Volver">
                <span class="ms-1 fs-5 text-white me-3 align-middle">Volver</span>
            </a>
        </div>

        <form method="get">
            {% csrf_token %}
            <section class="my-4">
                <label class="me-2 form-check-label fw-bold" for="title">Titulo:</label>
                <input class="form-control" type="text" id="title" name="title" value="{{ message.title }}" readonly/>
            </section>
            <div class="my-4">
                <label class="me-2 form-check-label fw-bold" for="description">Descripción:</label>
                <textarea name="description" id="description" class="form-control" readonly>{{ message.description }}</textarea>
            </div>
            {% if message.image %}
                <div class="card card-body">
                    <label class="me-2 form-check-label fw-bold" for="description">Imagen:</label>
                    <img class="img-fluid img-thumbnail" src="{{ message.image.url }}" alt="Volver">
                </div>
            {% endif %}
            <div class="card card-body">
                <section class="my-4">
                    <label class="me-2 form-check-label fw-bold" for="created_by">Creado por:</label>
                    <input class="form-control w-auto" type="text" id="created_by" name="created_by" value="{{ message.created_by }}" readonly/>
                </section>
                <section class="my-4">
                    <label class="me-2 form-check-label fw-bold" for="creation_date">Creado en:</label>
                    <input class="form-control w-auto" type="text" id="creation_date" name="creation_date" value="{{ message.creation_date }}" readonly/>
                </section>
            </div>
        </form>
    </div>

{% endblock %}
