{% extends "base_view.html" %}
{% load static %}
{% block title %}

Conocimiento - EPIST KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes ver todos los registros de conocimiento.</h3>

{% endblock %}

{% block main_container %}

<div>
    <a class="btn btn-dark btn-sm d-inline-flex align-items-center" href="{% url 'knowledge_create' %}">
        <img width="40" height="32" src="{% static 'Icons/create_icon.svg' %}" alt="Crear Conocimiento">
        <span class="ms-1 fs-5 text-white me-3">Crear Conocimiento</span>
    </a>

    <div class="table-responsive mt-5 d-flex justify-content-center">
        <table class="table w-75 table-hover">
            <thead class="table-dark">
                <tr class="text-center">
                    <th class="w-25">Nombre</th>
                    <th class="w-25">Estado</th>
                    <th class="w-25">Proyecto</th>
                    <th class="w-25">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for knowledge in page_obj %}
                <tr>
                    <td>
                        <a class="mx-3 text-decoration-none text-black" href="{% url 'knowledge_details' knowledge.id %}">
                            {{knowledge.title}}
                        </a>
                    </td>
                    <td>
                        <a class="mx-3 text-decoration-none text-black" href="{% url 'knowledge_details' knowledge.id %}">
                            {{knowledge.get_state_display}}
                        </a>
                    </td>
                    <td>
                        <a class="mx-3 text-decoration-none text-black" href="{% url 'knowledge_details' knowledge.id %}">
                            {{knowledge.project_id}}
                        </a>
                    </td>
                    <td class="text-center">
                        {% if user.id == knowledge.created_by.id %}
                            <div class="d-flex align-content-between justify-content-center">
                                <a href="{% url 'knowledge_edit' knowledge.id %}" class="mx-3 text-decoration-none text-black">
                                    <img width="40" height="32" src="{% static 'Icons/edit_icon_list.svg' %}" alt="Editar Conocimiento">
                                    Editar
                                </a>
                                <a href="{% url 'knowledge_delete' knowledge.id %}" class="mx-3 text-decoration-none text-black">
                                    <img width="40" height="32" src="{% static 'Icons/delete_list_icon.svg' %}" alt="Eliminar Conocimiento">
                                    Eliminar
                                </a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav class="d-flex d-inline justify-content-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
                <li class="page-item" aria-current="page">
                    <span class="page-link text-dark">{{ page_obj.number|add:"-1" }}</span>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link text-dark" href="">Anterior</a>
                </li>
            {% endif %}
            <li class="page-item active" aria-current="page">
                <span class="page-link bg-black">{{ page_obj.number }}</span>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item" aria-current="page">
                    <span class="page-link text-dark">{{ page_obj.number|add:"+1" }}</span>
                </li>
                <li class="page-item">
                    <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link text-dark" href="">Siguiente</a>
                </li>
            {% endif %}
            </li>
        </ul>
    </nav>

</div>

{% endblock %}
