{% extends "base_view_settings.html" %}

{% block title %}

{{ knowledge_type.title }} EPIST KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes ver la información del Tipo de Conocimiento {{ knowledge_type.title }} registrada en el sistema.</h3>

{% endblock %}

{% block main_container %}

    <div class="card card-body">
        <div class="d-flex justify-content-center">
            <a class="btn btn-dark btn-sm align-items-center justify-content-center" href="{% url 'knowledge_type_edit' knowledge_type.id %}">
                <img width="40" height="32" src="../static/Icons/edit_icon.svg" alt="Editar Proyecto">
                <span class="ms-1 fs-5 text-white me-3 align-middle">Editar</span>
            </a>
            <a class="btn btn-dark btn-sm align-items-center mx-3 justify-content-center" href="{% url 'knowledge_type_delete' knowledge_type.id %}">
                <img width="40" height="32" src="../static/Icons/delete_icon.svg" alt="Eliminar Proyecto">
                <span class="ms-1 fs-5 text-white me-3 align-middle">Eliminar</span>
            </a>
            <a class="btn btn-dark btn-sm align-items-center justify-content-center" href="{% url 'knowledge_types_list' %}" >
                <img width="40" height="32" src="../static/Icons/back_icon.svg" alt="Volver">
                <span class="ms-1 fs-5 text-white me-3 align-middle">Volver</span>
            </a>
        </div>
        <form method="get">
            {% csrf_token %}
            <section class="my-4">
                <label class="me-2 form-check-label fw-bold" for="title">Titulo:</label>
                <input class="form-control" type="text" id="title" name="title" value="{{ knowledge_type.title }}" readonly/>
            </section>
            <div class="my-4">
                <label class="me-2 form-check-label fw-bold" for="description">Descripción del Tipo de Conocimiento.</label>
                <textarea name="description" id="description" class="form-control" readonly>{{ knowledge_type.description }}</textarea>
            </div>
        </form>
    </div>

{% endblock %}
