{% extends "base_view.html" %}

{% block title %}

Editar {{ knowledge_step.title }} - Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes modificar algunos datos del paso {{ knowledge_step.title }}</h3>

{% endblock %}

{% block main_container %}

<div class="create_main_container">
    <div class="create_container">
        <form method="post">
            {% csrf_token %}
            <div class="form_row">
                <div class="input_data">
                    <input name="title" type="text" value="{{ knowledge_step.title }}" required>
                    <div class="underline"></div>
                    <label for="">Titulo</label>
                </div>
            </div>
            <div class="form-row">
                <div class="project_description_container">
                    <label for="">Descripción:</label><br/>
                    {{ form.media }}
                    {{ form.description }}
                </div>
            </div>
            <div>{{field.errors}}</div>
            <div class="form_row">
                <div class="form_row submit-btn">
                    <div class="input_data">
                        <input type="submit" value="Guardar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
