{% extends "base_view.html" %}

{% block title %}

Usuario Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes ver la información del conocimiento {{ knowledge.title }} registrada en el sistema.</h3>

{% endblock %}

{% block main_container %}

<div class="create_knowledge_container">
    <div class="knowledge_header_details">
        {% csrf_token %}
        <div class="knowledge_detail">
            <div class="knowledge_detail_rows">
                <label for="">Titulo: </label>
                <p>{{ knowledge.title }}</p>
            </div>
            <div class="knowledge_detail_rows">
                <label for="">Proyecto: </label>
                <p>{{ knowledge.project_id }}</p>
            </div>
            <div class="knowledge_detail_rows">
                <label for="">Estado: </label>
                <label class="knowledge_state_tag">{{ knowledge.get_state_display }}</label>
            </div>
            <div class="knowledge_detail_rows">
                <label>Creado por: </label>
                <p>{{ knowledge.created_by }}</p>
            </div>
            <div class="knowledge_detail_rows">
                <label>Creado en:</label>
                <p>{{ knowledge.creation_date }}</p>
            </div>
        </div>
        <div class="knowledge_detail">
            <div class="knowledge_description">
                <label for="">Descripción: </label><br />
                <textarea class="knowledge_text_area_detail" name="note" rows="3" readonly>{{ knowledge.note }}</textarea>
            </div>
            <div class="knowledge_details_form_footer">
                <a class="details_action" href="{% url 'knowledge_edit' knowledge.id %}"> <img class="details_action_icon" src="../static/Icons/edit_icon.svg" alt="Edit Knowledge"> Editar</a>
                <a class="details_action" href="{% url 'knowledge_delete' knowledge.id %}"> <img class="details_action_icon" src="../static/Icons/delete_icon.svg" alt="Delete Knowledge"> Eliminar</a>
                <a class="details_action" href="{% url 'knowledges_list' %}" > <img class="details_action_icon" src="../static/Icons/back_icon.svg" alt="Delete Knowledge"> Volver</a>
                {% if knowledge.state == 'new' %}
                    <a class="details_action" href="{% url 'knowledge_to_approval' knowledge.id %}" > <img class="details_action_icon" style="width: 70%;" src="../static/Icons/send_icon.svg" alt="To Approval Knowledge"> Enviar a aprobación</a>
                {% endif %}
                {% if knowledge.state == 'for_approval' %}
                    <a class="details_action" href="{% url 'knowledge_approve' knowledge.id %}" > <img class="details_action_icon" style="width: 70%;" src="../static/Icons/send_icon.svg" alt="Approve Knowledge"> Aprobar</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="knowledge_steps_details">
        {% if user.id == knowledge.created_by.id %}
            <div class="actions_list">
                <a href="{% url 'knowledge_step_create' knowledge.id %}"> Crear nuevo paso </a>
            </div>
        {% endif %}
        {% for knowledge_step in steps %}
            <div class="knowledge_step">
                <a href="{% url 'knowledge_step_details' knowledge_step.id %}">{{ knowledge_step.title }}</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
