<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/base.css">
        <title>Epist KMS</title>
    </head>
    <body>
        <div class="all_page">
            <div class="nav_bar_ver">
                <div class="nav_var_icon">
                    <img src="../static/Icons/book-8-svgrepo-com.svg" alt="EPIST">
                    <h1>EPIST KMS</h1>
                </div>
                <div class="nav_opt_list">
                    <ul>
                        <li>
                            <a href="">
                                <img src="../static/Icons/home-1391-svgrepo-com.svg" alt="Inicio">
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../static/Icons/chat-bubbles-svgrepo-com.svg" alt="Inicio">
                                Foro
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../static/Icons/library-svgrepo-com.svg" alt="Inicio">
                                Conocimiento
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav_opt_about">
                    <ul>
                        <li>
                            <a href="">Ayuda</a>
                        </li>
                        <li>
                            <a href="">Acerca de</a>
                        </li>
                    </ul>
                </div>
                <div class="nav_settings_opt">
                    <a href="">
                        <img src="../static/Icons/settings-2-svgrepo-com.svg" alt="Inicio">
                        Ajustes
                    </a>
                </div>
            </div>
            <!-- <div style="width: 80%; height: 100%;">
                <div style="height: 20%; background-color: aliceblue;">
                    <div style="width: 70%;">
                        <h1>Bienvenido, </h1>
                        <h3>Aquí hay nuevos conocimientos que podrían interesarte.</h3>
                    </div>
                    <div style="width: 70%;">
                        <a href="."><img src="../static/Icons/bell-svgrepo-com.svg" style="margin: 10; width: 10%; height: 10%;" alt="Notificaciones"></a>
                        <a href="."><img src="../static/Icons/user-circle-svgrepo-com.svg" style="margin: 10; width: 10%; height: 10%;" alt="Perfil"></a>
                    </div>
                </div>
            </div> -->
        </div>
    </body>
</html>
