{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/base.css">
        <link rel="stylesheet" href="../static/css/project_base.css">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <div class="all_page">
            <div class="nav_bar_ver">
                <div class="nav_var_icon">
                    <img src="../static/Icons/epist_main_icon.svg" alt="EPIST">
                    <h1>EPIST KMS</h1>
                </div>
                <div class="nav_opt_list">
                    <ul>
                        <li>
                            <a href="{% url 'welcome' %}">
                                <img src="../static/Icons/home_icon.svg" alt="Inicio">
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../static/Icons/forum_main_icon.svg" alt="Foro">
                                Foro
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../static/Icons/knowledge_icon.svg" alt="Conocimiento">
                                Conocimiento
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav_opt_about">
                    <ul>
                        <li>
                            <a href="">Ayuda</a>
                        </li>
                        <li>
                            <a href="">Acerca de</a>
                        </li>
                    </ul>
                </div>
                <div class="nav_settings_opt">
                    <a href="">
                        <img src="../static/Icons/settings_icon.svg" alt="Inicio">
                        Ajustes
                    </a>
                </div>
            </div>
            <div class="content_base">
                <div class="content_header">
                    <div class="content_header_title">
                        {% block content_header %}
                        {% endblock %}
                    </div>
                    <div class="content_header_users">
                        <a href=".">
                            <img src="../static/Icons/notification_icon.svg" alt="Notificaciones">
                        </a>
                        <a href=".">
                            <img src="../static/Icons/user_icon.svg" alt="Perfil">
                            {% block user_name %} {% endblock %}
                        </a>
                    </div>
                </div>
                <div class="content_main">
                    {% block main_container %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
