{% extends "base_view.html" %}

{% block title %}

Error durante la creación

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes registrar un nuevo usuario en el sistema.</h3>

{% endblock %}

{% block main_container %}

<div class="create_main_container">
    <div class="create_container">
        <h1>Se ha presentado una excepcion durante la creación:</h1>
        <h2>{{ exception }}</h2>
        <div class="modal_options">
            <a class="option_cancel" href="{% url 'user_create' %}">Aceptar</a>
        </div>
    </div>
</div>

{% endblock %}
