{% extends "base_view_settings.html" %}

{% block title %}

Grupo de Usuarios Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes ver la información del grupo {{ selected_group.name }} registrada en el sistema.</h3>

{% endblock %}

{% block main_container %}

<div class="create_main_container">
    <div class="create_container">
        <form method="get">
            {% csrf_token %}
            <div class="form_row">
                <div class="input_data_details">
                    <b>Nombre:&emsp;</b> {{ selected_group.first_name }} {{ selected_group.last_name }}
                </div>
            </div>
            <div class="many2many_details">
                <span>Permisos</span><br><br>
                {% for permission in selected_group.permissions.all %}
                    <span class="tags">{{ permission }}</span>
                {% endfor %}
            </div>
            <div class="details_form_footer">
                <a class="details_action" href="{% url 'group_edit' selected_group.id %}"> <img class="details_action_icon" src="../static/Icons/edit_icon.svg" alt="Edit Group"> Editar</a>
                <a class="details_action" href="{% url 'group_delete' selected_group.id %}"> <img class="details_action_icon" src="../static/Icons/delete_icon.svg" alt="Delete Group"> Eliminar</a>
                <a class="details_action" href="{% url 'groups_list' %}" > <img class="details_action_icon" src="../static/Icons/back_icon.svg" alt="Group List"> Volver</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
