{% extends "base_view_settings.html" %}

{% block title %}

Grupos de Usuarios de Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes ver todos los grupos de usuarios registrados en el sistema.</h3>

{% endblock %}

{% block main_container %}

<div class="content_main_container">
    <a class="create_button" href="{% url 'group_create' %}"> <img class="create_icon" src="../static/Icons/create_icon.svg" alt="Create Group"> Crear Grupo</a>

    <table class="table_list">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for group_data in page_obj %}
            <tr>
                <td><a class="a_details" href="{% url 'group_details' group_data.id %}"> {{ group_data.name }} </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination_container">
        <span class="pagination">
            {% if page_obj.has_previous %}
                <a class="show_a_pagination" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% else %}
                <a href="" class="hide_a_pagination">Anterior</a>
            {% endif %}
            <span>
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a class="show_a_pagination" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            {% else %}
                <a href="" class="hide_a_pagination">Siguiente</a>
            {% endif %}
        </span>
    </div>

</div>

{% endblock %}
