{% extends "base_view_settings.html" %}
{% load static %}
{% block title %}

Crear Grupo de Usuarios de EPIST KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes registrar un nuevo grupo de usuarios en el sistema.</h3>

{% endblock %}

{% block main_container %}

    <div class="card card-body">

        {% if exception %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Se encontraron errores: {{ exception }} </strong>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <section class="my-4 d-lg-inline-flex align-items-center w-100">
                <label class="me-2 form-check-label fw-bold" for="name">Nombre:</label>
                <input class="form-control" type="text" id="name" name="name" value='{{ form.name.value|default_if_none:"" }}' required/>
            </section>
            <section class="">
                <div class="card card-body mx-2">
                    <label class="text-bg-dark p-1 text-center rounded-4" for="permissions">Permisos</label>
                    <select class="form-select my-4" id="permissions" name="permissions" multiple required>
                        {% for permission in permissions_list %}
                            {% if permissions_selected and permission.id|stringformat:"i" in permissions_selected %}
                                <option value="{{ permission.id }}" selected>{{ permission.name }}</option>
                            {% else %}
                                <option value="{{ permission.id }}">{{ permission.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </section>
            <div class="d-flex justify-content-center">
                <input class="my-2 me-2 btn btn-dark text-white btn-sm align-items-center justify-content-center" type="submit" value="Guardar">
                <a class="my-2 btn btn-dark text-white btn-sm align-items-center justify-content-center" type="button" href="{% url 'groups_list' %}">Cancelar</a>
            </div>
        </form>
    </div>

{% endblock %}
