{% extends "base_view_settings.html" %}
{% load static %}
{% block title %}

Crear usuario de Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes modificar algunos datos de {{ selected_user.first_name }} {{ selected_user.last_name }}.</h3>

{% endblock %}

{% block main_container %}
    <div class="card card-body">
        <form method="post">
            {% csrf_token %}
            <section class="my-4">
                <label class="form-check-label fw-bold" for="old_password">Contraseña Antigua:</label>
                <input class="form-control" type="password" id="old_password" name="old_password" value='{{ old_password|default_if_none:"" }}' required/>
                {% if old_error %}
                    <p style="color: red;">{{ old_error }}</p>
                {% endif %}
            </section>
            <section class="my-4">
                <label class="form-check-label fw-bold" for="new_password">Nueva Contraseña:</label>
                <input class="form-control" type="password" id="new_password" name="new_password" value='{{ new_password|default_if_none:"" }}' required/>
                {% if new_error %}
                    <p style="color: red;">{{ new_error }}</p>
                {% endif %}
            </section>
            <section class="my-4">
                <label class="form-check-label fw-bold" for="new_password_confirm">Confirmación de Nueva Contraseña:</label>
                <input class="form-control" type="password" id="new_password_confirm" name="new_password_confirm" value='{{ new_password_confirm|default_if_none:"" }}' required/>
            </section>
            <div class="form_row">
                <input type="checkbox" onclick="show_password()">
                Mostrar Contraseñas
            </div>
            <div class="d-flex justify-content-center">
                <input class="my-2 me-2 btn btn-dark text-white btn-sm align-items-center justify-content-center" type="submit" value="Guardar">
                <a class="my-2 btn btn-dark text-white btn-sm align-items-center justify-content-center" href="{% url 'user_details' selected_user.id %}">Cancelar</a>
            </div>
        </form>
    </div>

    <script>
    function show_password() {
        const v_fields = [];
        v_fields.push(document.getElementById("old_password"));
        v_fields.push(document.getElementById("new_password"));
        v_fields.push(document.getElementById("new_password_confirm"));
        for (x of v_fields){
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    }
    </script>

{% endblock %}
