{% extends "base_view.html" %}

{% block title %}

{{ first_name }} {{ last_name }} Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, </h1>
<h3>Estas a punto de eliminar la información personal de {{ first_name }} {{ last_name }} registrada en el sistema.</h3>

{% endblock %}

{% block user_name %}

Usuario

{% endblock %}

{% block main_container %}

<div class="create_main_container">
    <div class="create_container">
        <h1>Se eliminará el usuario {{ first_name }} {{ last_name }} permanentemente. ¿Deseas continuar?</h1>
        <form method="post" class="delete_form">
            {% csrf_token %}
            <input class="delete_form_button delete_button" type="submit" value="Si, eliminar.">
            <button class="delete_form_button cancel_button" type="button" onclick="location.href = '/users_list'">No, cancelar</a>
        </form>
    </div>
</div>

{% endblock %}
