{% extends "base_view.html" %}

{% block title %}

Crear usuario de Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes modificar algunos datos de {{ selected_user.first_name }} {{ selected_user.last_name }}.</h3>

{% endblock %}

{% block main_container %}

<div class="create_main_container">
    <div class="create_container">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'project_ids' %}
                    <div class="form_row">
                        <div class="many2many_data">
                            <label for="">Proyectos</label>
                            {{ form.project_ids }}
                        </div>
                    </div>
                {% elif field.name == 'password' %}
                    <input name="password" type="password" value="{{ field.value }}" readonly hidden>
                    <div class="form_row">
                        <a class="update_password_button" href="{% url 'user_change_password' selected_user.id %}"> <img class="update_password_icon" src="../static/Icons/password_icon.svg" alt="Update Password"> Cambiar contraseña</a>
                    </div>
                {% else %}
                    <div class="form_row">
                        <div class="input_data">
                            <input name="{{ field.name }}" type="{{ field.field.widget.input_type }}" value="{{ field.value | default:'' }}" required>
                            <div class="underline"></div>
                            <label for="">{{ field.label }}</label>
                        </div>
                    </div>
                {% endif %}
                <div>{{field.errors}}</div>
            {% endfor %}
            <div class="edit_form_footer">
                <input class="edit_form_button edit_button" type="submit" value="Guardar">
                <button class="edit_form_button cancel_button" type="button" onclick="location.href = '/users_list'">Cancelar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
