{% extends "base_view.html" %}

{% block title %}

Usuarios de Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, </h1>
<h3>Aquí puedes ver todos los usuarios registrados en el sistema.</h3>

{% endblock %}

{% block user_name %}

Usuario

{% endblock %}

{% block main_container %}

<div class="content_main_container">
    <a class="create_button" href="{% url 'user_create' %}"> <img class="create_icon" src="../static/Icons/create_icon.svg" alt="Create User"> Crear Usuario</a>

    <table class="table_list">
        <thead>
            <tr>
                <th>Identificación - Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in page_obj %}
            <tr>
                <td width="70%"><a class="a_details" href="{% url 'user_details' user.id %}">{{user.ident_number}} - {{user.first_name}} {{user.last_name}}</a></td>
                <td width="30%">
                    <div class="actions_list">
                        <a href="{% url 'user_edit' user.id %}"> <img class="actions_list_icon" src="../static/Icons/edit_icon.svg" alt="Edit User"> Editar</a>
                        <a href="{% url 'user_delete' user.id %}"> <img class="actions_list_icon" src="../static/Icons/delete_list_icon.svg" alt="Delete User"> Eliminar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination_container">
        <span class="pagination">
            {% if page_obj.has_previous %}
                <a class="show_a_pagination" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% else %}
                <a href="" class="hide_a_pagination">Anterior</a>
            {% endif %}
            <span>
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a class="show_a_pagination" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            {% else %}
                <a href="" class="hide_a_pagination">Siguiente</a>
            {% endif %}
        </span>
    </div>

</div>

{% endblock %}
