{% extends "base_view_settings.html" %}

{% block title %}

Usuario Epist KMS

{% endblock %}

{% block content_header %}

<h1>Hola, {{ user.first_name }}</h1>
<h3>Aquí puedes ver la información personal de {{ selected_user.first_name }} {{ selected_user.last_name }} registrada en el sistema.</h3>

{% endblock %}

{% block main_container %}

<div class="create_main_container">
    <div class="create_container">
        <form method="get">
            {% csrf_token %}
            <div class="form_row">
                <div class="input_data_details">
                    <b>Nombre Completo:&emsp;</b> {{ selected_user.first_name }} {{ selected_user.last_name }}
                </div>
            </div>
            <div class="form_row">
                <div class="input_data_details">
                    <b>Número de Identificación:&emsp;</b> {{ selected_user.ident_number }}
                </div>
            </div>
            <div class="form_row">
                <div class="input_data_details">
                    <b>Correo Electrónico:&emsp;</b> {{ selected_user.email }}
                </div>
            </div>
            <div class="form_row">
                <div class="input_data_details">
                    <b>Nombre de Usuario:&emsp;</b> {{ selected_user.username }}
                </div>
            </div>
            <div style="display: flex;">
                <div class="many2many_details">
                    <span>Proyectos</span><br><br>
                    {% for project in selected_user.project_ids.all %}
                        <span class="tags">{{ project }}</span>
                    {% endfor %}
                </div>
                &emsp;
                <div class="many2many_details">
                    <span>Grupos</span><br><br>
                    {% for group in selected_user.groups.all %}
                        <span class="tags">{{ group }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="details_form_footer">
                <a class="details_action" href="{% url 'user_edit' selected_user.id %}"> <img class="details_action_icon" src="../static/Icons/edit_icon.svg" alt="Edit User"> Editar</a>
                <a class="details_action" href="{% url 'user_delete' selected_user.id %}"> <img class="details_action_icon" src="../static/Icons/delete_icon.svg" alt="Delete User"> Eliminar</a>
                <a class="details_action" href="{% url 'users_list' %}" > <img class="details_action_icon" src="../static/Icons/back_icon.svg" alt="Delete User"> Volver</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
