@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
}

.all_page {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.nav_bar_ver {
    width: 20%;
    height: 100%;
    background-color: black;
}

.nav_var_icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15%;
    padding-left: 10%;
}

.nav_var_icon img{
    width: 20%;
    height: 20%;
}

.nav_var_icon h1{
    color: aliceblue;
    font-size: 200%;
}

.nav_var_option{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15%;
    padding-left: 10%;
}

.nav_opt_list{
    padding: 10%;
    height: 30%;
}

.nav_opt_list ul{
    list-style-type: none;
}

.nav_opt_list ul li{
    padding: 10%;
    height: 30%;
}

.nav_opt_list ul li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 200%;
    color: aliceblue;
    text-decoration: none;
}

.nav_opt_list ul li a img{
    width: 20%;
    height: 20%;
    padding-right: 5%;
}

.nav_opt_about{
    height: 30%;
    display: flex;
    align-items: flex-end;
}

.nav_opt_about ul{
    padding: 10%;
    width: 100%;
    list-style-type: none;
}

.nav_opt_about ul li{
    padding: 10% 10% 0% 10%;
    height: 20%;
}

.nav_opt_about ul li a{
    font-size: 200%;
    color: aliceblue;
    text-decoration: none;
}

.nav_settings_opt{
    height: 10%;
    padding-left: 18%;
}

.nav_settings_opt a{
    padding-top: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 200%;
    color: aliceblue;
    text-decoration: none;
}

.nav_settings_opt img{
    width: 20%;
    height: 20%;
    padding-right: 5%;
}

.content_base{
    width: 80%;
    height: 100%;
    background-color: white;
}

.content_header{
    display: flex;
    justify-content: flex-start;
    height: 10%;
}

.content_header_title{
    width: 70%;
    height: 100%;
}

.content_header_title h1{
    margin: 2% 0 0 3%;
}

.content_header_title h3{
    margin: 0 0 0 3%;
}

.content_header_users{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content_header_users a{
    font-size: 200%;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content_header_users a img{
    width: 20%;
    height: 20%;
}

.content_main{
    height: 90%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_main_container{
    border-radius: 3%;
    background-color: black;
    height: 90%;
    width: 90%;
}

.table_list{
    margin: 5%;
    width: 90%;
    max-height: 80%;
}

.table_list thead tr th{
    background: #D9D9D9;
    font-size: 120%;
    padding: 1%;
}

.table_list tbody tr td{
    background: #D9D9D9;
    font-size: 120%;
    padding: 2%;
}

.a_details{
    text-decoration: none;
    color: black;
}

.a_details:hover{
    color: #205DBA;
}

.actions_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.actions_list a{
    font-size: 120%;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.actions_list_icon{
    width: 20%;
}

.create_button{
    text-decoration: none;
    color: black;
    border-radius: 30px;
    background-color: #D9D9D9;
    height: 4%;
    width: 20%;
    margin: 2%;
    font-size: 150%;
    display: flex;
    align-items: center;
    padding: 1%;
}

.create_button:hover{
    background-color: #C6C6C6;
}

.create_icon{
    height: 100%;
    margin: 0;
    padding: 5%;
}

.create_main_container{
    border-radius: 3%;
    background-color: black;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_container{
    border-radius: 3%;
    background: #D9D9D9;
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.create_container form .form_row{
    padding: 4% 3% 0 3%;
}

.many2many_data div{
    display: flex;
}

.many2many_data div label{
    display: flex;
}

.many2many_data label{
    font-size: 150%;
}

.many2many_selection{
    margin: 1%;
}

.many2many_selection input{
    margin: 1%;
}

.many2many_details{
    padding: 1% 5%;
    font-size: 120%;
}

.tags{
    border-radius: 25px;
    background-color: black;
    color: #D9D9D9;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.create_container form .form_row .input_data{
    width: 100%;
    height: 40px;
    position: relative;
    background: #D9D9D9;
}

form .form-row .textarea{
    height: 10%;
    margin: 1%;
  }

.input_data input,
.textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 200%;
    border-bottom: 2px solid black;
}

.input_data input:focus ~ label, .textarea textarea:focus ~ label,
.input_data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-40px);
    font-size: 150%;
    color: black;
}

.input_data label{
    position: absolute;
    pointer-events: none;
    bottom: 15%;
    font-size: 150%;
    transition: all 0.3s ease;
}

.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}

.input_data .underline{
    position: absolute;
    bottom: 0;
    height: 1%;
    width: 100%;
}

.input_data .underline:before{
    position: absolute;
    content: "";
    height: 1%;
    width: 100%;
    background: black;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input_data input:focus ~ .underline:before,
.input_data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
    transform: scale(1);
}

.submit-btn .input_data input{
    background: none;
    border: none;
    color: black;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
}

.submit-btn .input_data input:hover{
    background: #C6C6C6;
}

.delete_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.delete_form_button{
    padding: 1%;
    width: 40%;
    font-size: 200%;
}

.delete_button:hover{
    background: #DC3545;
    color: #D9D9D9;
}

.cancel_button:hover{
    background: black;
    color: #D9D9D9;
}

.edit_form_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.edit_form_button{
    padding: 1%;
    width: 40%;
    font-size: 120%;
}

.edit_button:hover{
    background: black;
    color: #D9D9D9;
}

.pagination_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination{
    width: 20%;
    font-size: 120%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    color: #D9D9D9;
    position: fixed;
    bottom: 0;
    padding: 10px;
}

.show_a_pagination{
    text-decoration: underline #D9D9D9;
    color: #D9D9D9;
}

.hide_a_pagination{
    pointer-events: none;
    cursor: not-allowed;
    color: transparent;
    user-select: none;
    text-decoration: none;
}

.details_form_footer{
    width: 64%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 100px;
    padding: 10px;
}

.details_action{
    width: 10%;
    font-size: 120%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    text-decoration: none;
}

.details_action_icon{
    height: 50%;
}

.input_data_details{
    width: 100%;
    height: 40px;
    background: #D9D9D9;
    display: flex;
    font-size: 150%;
}

.update_password_button{
    width: 30%;
    display: flex;
    justify-content: left;
    font-size: 150%;
    color: black;
    text-decoration: none;
}

.update_password_button:hover{
    background: gray;
    color: #D9D9D9;
}

.update_password_icon{
    width: 10%;
}

.nav-container {
  background-color: #fff;
  display: flex;
  padding-right: 20%;
}

.nav-container ul, li {
  list-style: none;
  -webkit-padding-start: 0;
}

.nav-container a{
  text-decoration: none;
  color: black;
}

/*Navigation menu*/
.nav-item {
  display: inline;
}

/*Dropdown menu*/
.nav-item-dropdown:hover .dropdown-menu{
    display: block;
    opacity: 1;
}

.dropdown-trigger {
    &:focus + .dropdown-menu {
        display: block;
        opacity: 1;
    }
}

.dropdown-menu {
    background-color: black;
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 8%;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 8%;
}

.dropdown-menu a{
    color: #D9D9D9;
    font-size: 100%;
}

.dropdown-menu-item:hover{
    background-color: #D9D9D9;
}

.dropdown-menu-item:hover a{
    color: black;
    background-color: #D9D9D9;
}

.dropdown-menu-item {
  cursor: pointer;
  padding: 10%;
  text-align: center;
}
